
@keyframes menuFadein {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes menuFadeout {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-100%);
  }
}

.portal-header {
  // width: 100%;
  height: 120px;
  background: #FCCFA7;
  display: flex;
  padding: 0 103px;
  padding-right: 27px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;

  .down-up {
    display: flex;
    align-items: center;

    .network-select {
      height: 36px;

      .nw-wrapper {
        min-height: 36px;

        .nw-item {
          height: 36px;
        }
      }
    }

    .wallet-btn {
      height: 40px;
      border: 0;
    }
  }
  .title-des {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }

  .link-btn {
    display: flex;
    align-items: center;
    margin-top: 21px;

    .mobile-arrow {
      display: none;
    }

    .pc-arrow {
      display: block;
    }

    img {
      cursor: pointer;
    }

    a {
      color: #FFFFFF;
      text-decoration: none;
      width: 100%;
    }

    .app-item,
    .coming-soon-link,
    .deri-io {
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: #93A1B8;
      background-repeat: no-repeat;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 20px;
    }

    .add-link {
      margin-left: 20px;
    }

    .deri-io {
      background-image: url("../../assets/img/deri-io-go.svg");
      background-position: 94px center;
    }
  }
}

.portal-header {
  .link-btn {
    .sub-app {
      cursor: pointer;
    }
    
    .selected {
      .app-item {
        background-color: #59AE99;
      }
    }
  }
}

.portal-header {
  .link-btn {
    .selected {
      .coming-soon-link {
        background-image: url("../../assets/img/bet-now.svg");
        background-position: 20px center;
        background-color: #59AE99;
      }
    }
  }
}

.portal-header.collapse {
  animation: headerClose 0.5s;
  height: 56px;
}

.portal-header.growup {
  animation: headerOpen 0.5s;
}

.collapse {
  .link-btn {
    margin: 0;
  }

  .title-des {
    display: none;
  }
}

@keyframes headerClose {
  from {
    height: 120px;
  }

  to {
    height: 56px;
  }
}

@keyframes headerOpen {
  from {
    height: 56px;
  }

  to {
    height: 120px;
  }
}

@media only screen and (min-width : 375px) and (max-width : 1460px) {
  .portal-header {
    .link-btn {
      .deri-io,
      .coming-soon-link,
      .app-item {
        width: 88px;
        height: 32px;
        font-size: 16px;
        background-color: #93A1B8;
        // background-image: none !important;
        background-repeat: no-repeat;
      }

    }
  }

  .betit-portal {
    .link-btn {
      .app-item {
        background-color: #59AE99;
      }
    }
  }

  .coming-portal {
    .link-btn {
      .coming-soon-link {
        background-color: #59AE99;
      }
    }
  }
}
@media only screen and (min-width : 1460px) {
  .portal-header {
    .link-btn {
      .deri-io,
      .coming-soon-link,
      .app-item {
        padding: 0 30px;
        height: 32px;
        background-color: #93A1B8;
        background-repeat: no-repeat;
      }

    }
  }
}

@media (0 < width < 761px) {
  .portal-header {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 24px;
    transform: translateX(-100%);

    .down-up {
      display: none;
    }
    .title-link {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 100vh;
      align-items: flex-start;
      overflow: hidden;

      .link-btn {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: start;
        
        .mobile-arrow {
          display: block;
        }

        .pc-arrow {
          display: none;
        }

        .app-item,
        .coming-soon-link,
        .deri-io {
          width: 100%;
          background-color: transparent;
          text-align: left;
          margin-top: 12px;
          margin-left: 0;
        }

        .deri-io {   
          background-position: 64px center; // background-image: url("../../assets/img/deri-io-go.svg");
        }
        

        .add-link {
          margin-top: 12px;
          margin-left: 0;
        }
      }

      .title-des {
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin: 0 0px 40px;
        white-space: nowrap;
      }
    }
  }

  .portal-header.shrink {
    animation: menuFadeout 0.5s;
    transform: translateX(-100%);
    z-index: 10;
    height: 100vh;
  }

  .portal-header.expand {
    display: flex;
    transform: translateX(0px);
    z-index: 10;
    height: 100vh;
    animation: menuFadein 0.5s;
  }
}