.withdraw-deposit-position {
  width: 456px;
  height: 597px;
  border-radius: 30px;
  border: 1px solid #F49B33;
  background: #FFF;

  .font-box {
    width: 456px;
    height: 141px;
    border-radius: 30px;
    background: linear-gradient(180deg, #FF8D1F -61.09%, rgba(255, 255, 255, 0) 100%);

  }
}