.invest-box {
  width: 560px;
  margin-top: 74px;

  .invest-disable-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 35px;
    }

    &-title {
      color: #000000;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 11px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 21px;
      color: #777E90;
    }
  }

  .balance-box {
    width: 100%;
    height: 140px;
    border: 0.822633px solid rgba(119, 126, 144, .7);
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding: 22px 19px;
    color: #777E90;
    font-weight: 500;
    // justify-content: space-between;

    &-amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      &-value {
        &-input {
          width: 100%;
          border: 0;
          padding: 0;
          font-weight: 700;
          outline: none;
          font-size: 32px;
        }

      }
    }

    &-token {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;

      &-balance {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      &-value {
        min-width: 78px;
        height: 26px;
        background: rgba(55, 125, 255, 0.1);
        border: 0.822633px solid rgba(55, 125, 255, 0.2);
        border-radius: 100px;
        display: flex;
        font-weight: 700;
        font-size: 12px;
        color: #377DFF;
        align-items: center;
        padding: 0 8px;
        justify-content: center;
        margin-left: 8px;
        cursor: pointer;
      }

      &-value:hover {
        background: #377DFF;
        color: #FFFFFF;
      }

      .isMaxBalance {
        background: #377DFF;
        color: #FFFFFF;
      }

      &-name {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 32px;
        color: #040415;

        img {
          margin-right: 10px;
        }
      }
    }
  }

  .open-preview {
    margin-top: 36px;
    font-weight: 600;
    font-size: 16px;

    .prop {
      color: #777E90;
      display: flex;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;

        img {
          margin-left: 4px;
        }
      }

      .fee-value {
        color: #040415;
      }
    }
  }

  .btn {
    width: 100%;
    margin-top: 79px;
  }

  .btn-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .invest-btn.disabled,
  .start-btn.disabled {
    background-color: rgba(56, 203, 133, 0.2);
    color: rgba(119, 126, 144, 0.5);
  }

}

@media only screen and (max-width : 1024px) {
  .invest-box {
    width: 290px;
    margin-top: 37px;

    .invest-disable-box {
      img {
        width: 40px;
        height: 40px;
        margin-bottom: 21px;
      }

      &-title {
        font-size: 14px;
      }

      &-text {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .balance-box {
      height: 96px;
      font-size: 12px;
      padding: 12px;

      &-amount {
        &-label {
          height: 26px;
          line-height: 26px;
        }

        &-value {
          height: 20px;

          input {
            // width: 160px;
            font-size: 22px;
          }
        }
      }

      &-token {
        &-name {
          font-size: 22px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

    }

    .open-preview {
      margin-top: 30px;
      font-size: 12px;
    }

    .btn {
      margin-top: 42px;

      .invest-btn,.approve-btn,.start-btn {
        height: 40px;
        border-radius: 6px;
        font-size: 12px;
      }
      .approve-btn,.start-btn{
        width: 48%;
      }
    }
  }
}