.invest-box {
  width: 560px;
  margin-top: 74px;
  .balance-box {
    width: 100%;
    height: 140px;
    border: 0.822633px solid rgba(119, 126, 144, .7);
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding: 22px 19px;
    color: #777E90;
    font-weight: 500;
    // justify-content: space-between;

    &-amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      &-value {
        &-input {
          width: 100%;
          // width: 225px;
          // height: 53px;
          border: 0;
          font-weight: 700;
          outline: none;
          font-size: 32px;
        }

      }
    }

    &-token {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      &-balance {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      &-value {
        width: 78px;
        height: 26px;
        background: rgba(55, 125, 255, 0.1);
        border: 0.822633px solid rgba(55, 125, 255, 0.2);
        border-radius: 100px;
        display: flex;
        font-weight: 700;
        font-size: 12px;
        color: #377DFF;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        cursor: pointer;
      }

      &-value:hover {
        background: #377DFF;
        color: #FFFFFF;
      }

      &-name {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 32px;
        color: #040415;

        img {
          margin-right: 10px;
        }
      }
    }
  }

  .open-preview {
    margin-top: 36px;
    font-weight: 600;
    font-size: 16px;
    .prop {
      color: #777E90;
      display: flex;
      justify-content: space-between;
      span{
        display: flex;
        align-items: center;
        img{
          margin-left: 4px;
        }
      }
      .fee-value{
        color: #040415;
      }
    }
  }
  .btn{
    margin-top: 79px;
  }
}
@media only screen and (max-width : 1024px){
  .invest-box{
    width: 290px;
    margin-top: 37px;
    .balance-box{
      height: 96px;
      font-size: 12px;
      padding: 12px;
      &-amount{
        &-label{
          height: 26px;
          line-height: 26px;
        }
        &-value{
          input{
            // width: 160px;
            font-size: 22px;
            height: 20px;
          }
        }
      }
      &-token{
        &-name{
          font-size: 22px;
          img{
            width: 20px;
            height: 20px;
          }
        }
      }
      
    }
    .open-preview{
      margin-top: 30px;
      font-size: 12px;
    }
    .btn{
      margin-top: 42px;
      .invest-btn{
        height: 40px;
        border-radius: 6px;
        font-size: 12px;
      }
    }
  }
}