body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  width: 56px;
  height: 56px;
  top: calc( 50% - 56px);
  left: calc( 50% - 56px);
  border: 3px solid #ccc;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes circle {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

@keyframes circle {
  0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
