$className: "BTC",
"ETH",
"BNB",
"DOGE",
"LUNA",
"DOT",
"SOL",
"APE",
"AXS",
"BABYDOGE",
"FITFI",
"GMT",
"SHIB",
"X2Y2",
"AVAX";
$Color: #F49B33,
#7A57DD,
#F3BA2D,
#C1A633,
#172852,
#E6007A,
#865FEE,
#0055D5,
#0055D5,
#FFDF0D,
#FFD122,
#CDA84D,
#CDA84D,
#4D41CE,
#FE0100;

.card-box {
  width: 376px;
  height: 616px;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
  margin-top: 50px;
  padding: 32px 0 0 36px;
  border: 1px solid transparent;
  // cursor: pointer;
  margin-left: 42px;

  .icon-name {
    display: flex;
    align-items: center;
    position: relative;

    .symbol-name {
      margin-left: 12px;
      font-weight: 700;
      font-size: 24px;
    }

    .entered {
      position: absolute;
      right: 0;
      color: #FFF;
      text-align: center;
      line-height: 40px;
      font-size: 16px;
      font-weight: 700;
      width: 102px;
      height: 40px;
      border-radius: 20px 0px 0px 20px;
      background: #FFAB00;
    }

    .liquidated {
      background: #FF5630;
    }

  }

  .symbol-price {
    font-size: 34px;
    color: #040415;
    margin-top: 26px;
    font-weight: 700;
  }

  .price-title,
  .leverage-title {
    font-size: 12px;
    color: #C8CDD5;
    display: flex;
    align-items: center;

    img {
      margin-left: 4px;
    }
  }

  .symbol-leverage {
    font-size: 26px;
    font-weight: 700;
    color: #FF7914;
    margin-top: 23px;
  }

  .input-box {
    width: 302px;
    height: 90px;
    margin-top: 21px;

    .symbol-pnl {
      width: 100%;
      height: 72px;
      background: #FFFFFF;
      border: 1px solid rgba(4, 4, 21, 0.1);
      border-radius: 16px;
      font-size: 12px;
      color: #C8CDD5;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 23px;

      .profit {
        position: absolute;
        left: 15px;
        top: -8px;
        background: #FFFFFF;
        padding: 0 8px;
      }

      .symbol-pnl-num {
        font-size: 30px;
        color: #38CB89;
        font-weight: 700;
      }

      .down-pnl {
        color: #FF5630;
      }
    }
  }

  .position {
    margin-top: 38px;
    height: 72px;
  }


  .btn-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 237px;

    .line-chart {
      width: 376px;
      position: relative;
      right: 33px;
    }

    .btn {
      margin-top: 19px;
      background-repeat: no-repeat;
    }

    .disabled {
      border: 1px solid rgba(4, 4, 21, 0.1);
      color: #999999;
      background-color: #FFFFFF;
    }
  }

}

.card-box:nth-child(3n+1) {
  margin-left: 0px;
}

@for $i from 1 through length($className) {
  .#{nth($className, $i)} {
    background-image: url("../../assets/img/#{nth($className, $i)}.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .icon-name {
      color: nth($Color, $i);
    }

    &:hover {
      border: 1px solid nth($Color, $i);
      box-shadow: 0px 0px 38px #FFB86580;
    }

  }
}

@media only screen and (min-width : 760px) and (max-width:1339px) {
  .card-box {
    width: 336px;
    height: 584px;
    padding: 27px 0 0 28px;
    margin-left: 0px;

    .input-box {
      width: 288px;
      margin-top: 14px;
    }

    .position {
      margin-top: 31px;
      height: 72px;
    }

    .btn-box {
      height: 207px;
      margin-top: 27px;

      .line-chart {
        width: 336px;
        position: relative;
        right: 28px;
      }

      .btn {
        width: 288px;
      }

      .up-btn {
        background-position: 120px;
      }

      .down-btn {
        background-position: 105px;
      }

      .boosted-btn {
        background-position: 85px, 190px;
      }
    }
  }

  .card-box:nth-child(2n) {
    margin-left: 20px;

  }

}

.mobile {
  .card-box {
    width: 280px;
    height: 488px;
    margin-left: 15px;
    padding-left: 22px;
    padding-top: 22px;

    .symbol-price {
      margin-top: 19px;
      font-size: 28px;
    }

    .symbol-leverage {
      margin-top: 16px;
      font-size: 21px;
    }

    .input-box {
      width: 240px;
      margin-top: 11px;
      height: 83px;
    }

    .btn-box {
      width: 256px;
      height: 174px;

      .line-chart {
        width: 280px;
        right: 24px;
      }

      .btn {
        width: 240px;
        margin-top: 16px;
        height: 48px;
      }
    }
  }

  .card-box:last-child {
    margin-right: 15px;
  }
}