.input-box-info {
  border-radius: 15px;
  height: 80px;
  position: relative;
  top: 8px;
  background: #FAFBFC;

  .balance-bet {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 14px;
    position: absolute;
    top: -8px;

    .bet {
      width: 40px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      color: #FFF;
      background-color: #FFAB00;
      border-radius: 1000px;
    }

    .balance {
      color: #C8CDD5;
      height: 50px;
      background-color: #FAFBFC;
      border-radius: 15px;
      padding-right: 14px;
      padding-left: 22px;
      padding-top: 8px;
      margin-top: -10px;
    }
  }

  .input-token {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 20px;

    .baseToken {
      width: 115px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      cursor: pointer;
    }

    .token-list {
      position: absolute;
      width: 100%;
      height: 86px;
      top: 72px;
      background: #FAFBFC;
      border-top: 1px solid #EDEDED;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      color: #C8CDD5;
      padding: 8px 17px 0 23px;

      .token-info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 24px;
        text-align: right;

        div {
          position: relative;
          cursor: pointer;
          .check-bToken {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 4px;
            left: 4px;
            background-image: url('../../assets/img/checkToken.svg');
            background-color: rgba(92, 92, 92, 0.44);
            border-radius: 1000px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        img {
          margin-left: 4px;
          margin-top: 4px;
        }
      }
    }
  }

  input {
    background: transparent;
    border-radius: 4px;
    // min-width: 240px;
    border: 0;
    width: 147px;
    height: 72px;
    color: #040415;
    font-size: 30px;
    padding-left: 23px;
  }

  input:focus {
    outline: none;
  }
}
.mobile{
  .input-box-info{
    .input-token{
      .token-list{
        height: 120px;
      }
    }
  }
}
.modal-body{
  .input-box-info{
    .input-token{
      .token-list{
        height: 105px;
      }
    }
  }
}