// primary 1
$primary1 : #FE7207;
$primary1_light : rgba(254, 114, 7, 0.1);

// primary 1
$primary2 : #FFAB00;
$primary2_light : rgba(255, 171, 0, 0.1);

// secondary 1
$secondary1 : #38CB89;
$secondary1_light : rgba(56, 203, 137, 0.1);

// secondary 2
$secondary2 : #FF5630;
$secondary2_light : rgba(255, 86, 48, 0.1);
